{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {% stylesheets  output="css/style-frontend.css"
                    "bundles/jatfrontend/css/style-base.css"
                    "bundles/jatfrontend/css/style-responsive.css"
                    filter="cssrewrite,?yui_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts output="js/script-frontend.js"
                   "@JatFrontendBundle/Resources/public/js/jquery-1.8.0.min.js"
                   "@JatFrontendBundle/Resources/public/js/bootstrap.min.js"
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <header class="well well-large">
        <h1><a href="{{ path("jat_frontend_home") }}">{{ 'frontend.title'|trans({}, "frontend") }}</a></h1>

        <nav>
            <ul class="nav nav-pills">
                <li class="active"><a href="{{ path('sonata_user_admin_security_login') }}">{{ 'security.login.submit'|trans({}, "FOSUserBundle") }}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'registration.register'|trans({}, "FOSUserBundle") }}</a></li>
            </ul>
        </nav>
    </header>

    <article id="content">
        {% block article %}{% endblock %}
    </article>

    <aside>
        {% block aside %}{% endblock %}
    </aside>
{% endblock %}