{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {% stylesheets  output="css/style-frontend.css"
                    "bundles/jatfrontend/css/style-base.css"
                    "bundles/jatfrontend/css/style-responsive.css"
                    filter="cssrewrite,?yui_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts output="js/script-frontend.js"
                   "@JatFrontendBundle/Resources/public/js/jquery-1.8.0.min.js"
                   "@JatFrontendBundle/Resources/public/js/bootstrap.min.js"
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    <div class="row-fluid">

        {% block header %}{% endblock header %}

        <article id="content" class="span8">
            {% block article %}{% endblock %}
        </article>

        <aside id="sidebar" class="span4">
            {% block aside %}
                <h3>{{ 'frontend.aboutus.header'|trans({}, "frontend") }}</h3>
                <p>{{ 'frontend.aboutus.text.intro'|trans({}, "frontend") }}</p>
                <p class="lead muted">{{ 'frontend.aboutus.text.slogan'|trans({}, "frontend") }}</p>
            {% endblock %}
        </aside>

    </div>
{% endblock body %}